<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Knit - Swatch">
                    <match url="^knit/swatch/([0-9]+)" />
                    <action type="Rewrite" url="/knit/swtach.cfm?StitchPatternId={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
