---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Title">

  <h1>Page Title</h1>

  <p class="lead">
    One short sentence describing the page.
  </p>

  <hr />

  <p>
    Normal page content goes here.
  </p>

  <p>
    <a href="/example">Example link</a>
  </p>

</Layout>