---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div style="padding: 40px;">


    <h1>Signup Test</h1>

    <a href="#" data-ms-modal="signup">Open Signup Modal</a>
    <h1>Signup Test</h1>

    <a href="#" data-ms-modal="signup">Open Signup Modal</a>
  </div>
</Layout>