---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Admin Control Panel">

  <main style="padding: 12
0px; max-width: 900px; margin: auto;">
    <h1>Creator Control Panel</h1>

    <h2>Core Content</h2>
    <ul>
      <li><a href="/glossary">Glossary</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/reference">Reference Pages ??????????hidden ???????????</a></li>
      <li><a href="https://knititnow.talkyard.net">
        Go to community
      </a></li>
    </ul>
<a href="https://docs.google.com/document/d/1WhPPpVYdHPniONNXV7hqUKC3CO0h09MtJLTeWBCTEHM/edit?tab=t.lt4qdtv810ml" target="_blank"><h2>Parking lot</h2>
    <h2>In Progress</h2></a>
    <ul>
      <li><a href="/patterns/drop-shoulder-test">Drop Shoulder Prototype</a></li>
      <li><a href="/readiness-test">Pattern Readiness Prototype</a></li>
    </ul>

    <h2>Utilities</h2>
    <ul>
      <li><a href="/sitemap.xml">Sitemap</a></li>
      <li><a href="http://localhost:4321/its-not-you-might-be-your-machine">Its Not You - It Might Be Your Machine</a></li>

      <li><a href="http://localhost:4321/repairs">repairs</a></li>
     
          </ul>


          <h2>refernce pages</h2>
          <ul>
            <li><a href="/troubleshooting">troubleshooting lead magnet</a></li>
            <li><a href="/repairs">repair list</a></li></ul>

</main>
  </main>

</Layout>