---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Admin Control Panel">

  <main style="padding: 12
0px; max-width: 900px; margin: auto;">
    <h1>Creator Control Panel</h1>

    <h2>Core Content</h2>
    <ul>
      <li><a href="/glossary">Glossary</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/reference">Reference Pages</a></li>
      <li><a href="https://knititnow.talkyard.net">
        Go to community
      </a></li>
    </ul>

    <h2>In Progress</h2>
    <ul>
      <li><a href="/patterns/drop-shoulder-test">Drop Shoulder Prototype</a></li>
      <li><a href="/readiness-test">Pattern Readiness Prototype</a></li>
    </ul>

    <h2>Utilities</h2>
    <ul>
      <li><a href="/sitemap.xml">Sitemap</a></li>
    </ul>
</main>
  </main>

</Layout>